/*Variables Globales*/
:root {
    --font-principal: "Oswald", sans-serif;
    --color-white: #fff;
    --bg-color: #F5F2EB;
    --color-principal: #343434;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/*Reset*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--font-principal);
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: var(--color-white);
}

img{
    width: 100%;
    display: block;
}

li{
    list-style: none;
}
/*Contenido - Menú*/

.nav{
    display: grid;
    grid-template-columns: 46% 8% 46%;
    margin-top: 2rem;
    align-items: center;
}

.nav label{
    display: none;
}
 
.nav__first-list,
.nav__second-list {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    background-color: var(--color-principal);
    padding: 15px 0;
    position: relative;
}

.nav__first-list{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.nav__first-list::after{
    content: '';
    width: 50px;
    height: 100%;
    background-color: var(--color-principal);
    position: absolute;
    right: -30px;
    top: 0;
    z-index: -1;
}

.nav__second-list{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.nav__second-list li:nth-child(4){
    display: block;
}

.nav__second-list::before{
    content: '';
    width: 50px;
    height: 100%;
    background-color: var(--color-principal);
    position: absolute;
    left: -30px;
    top: 0;
    z-index: -1;
}

.nav__logo-desktop{
    display: block;
    background-color: var(--color-principal);
    border-radius: 50%;
}

.nav__logo-mobile{
    display: none;
}

.second-list__icons{
    display: flex;
    gap: 25px;
}

.second-list__icons img{
    max-height: 25px;
    min-width: 25px;
}

/*Menú Mobile*/

.nav-mobile{
    display: none;
    margin: 15px 15px 0 15px;
    grid-template-columns: 1fr 4fr 0.5fr;
    align-items: center;
    gap: 0.5rem;
}

.nav-mobile__search{
    display: flex;
    align-items: center;
    border: 2px solid var(--color-principal);
    border-radius: 40px;
    height: 30px;
    padding: 10px;
}

.nav-mobile__search img{
    width: 20px;
}

.nav-mobile__search input{
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}

.nav-mobile__shop img{
    width: 40px;
}

.nav__logo-mobile{
    display: flex;
    justify-content: flex-start;
}

.nav-mobile__shop{
    display: flex;
    justify-content: flex-start;
}

#icon__menu{
    display: none;
}

/*Responsive*/
@media screen and (max-width: 768px) {
    .nav-mobile{
        display: grid;
    }

    .nav label{
        display: block;
    }

    .nav{
        display: flex;
        flex-direction: column;
        background-color: var(--color-principal);
        position: fixed;
        margin: 0;
        width: 100%;
        gap: 25px;
        height: 100vh;
        left: -100%;
        transition-duration: 0.1s;
        top: 0;
        align-items: flex-end;
    }

    .nav__first-list,
    .nav__second-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0;
        width: 100%;
        padding: 0 25px;
        gap: 25px;
        background-color: transparent;
    }

    .nav__first-list {
        padding-top: 25px;
    }
    
    .nav__second-list {
        padding-bottom: 25px;
    }

    .nav__second-list li:nth-child(4){
        display: none;
    }

    .nav__first-list::after,
    .nav__second-list::before{
        display: none;
    }
    
    .nav__logo-desktop{
        display: none;
    }

    .nav__logo-mobile{
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }

    .nav__logo-mobile .mobile-logo{
        width: 40px;
        height: 40px;
    }

    .nav__logo-mobile .mobile-menu,
    .nav .mobile-close{
        width: 30px;
        height: 30px;
    }

    .nav label .mobile-close{
        position: relative;
        right: 15px;
        top: 15px;
    }

    #icon__menu:checked ~ .nav{
        left: 0;
        top: 0;
    }
}